# OS / Editor
*.log
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed

# Environment
.env
auth.json

# Node / Composer
/node_modules
/vendor

# Laravel specific
/public/storage
/storage/*.key
/storage/app/public
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# Build / Cache
/public/build
/public/hot
/.phpunit.cache
/.phpunit.result.cache
.phpactor.json

# Homestead
Homestead.json
Homestead.yaml

